p,
ul {
  color: #fff;
  font-size: 1.5rem; }

ul li {
  color: #fff; }

.card-img {
  max-width: 100%; }

.card-custom-styles {
  background-color: #fff;
  padding: 0 !important;
  text-align: left;
  background-color: blueviolet;
  color: #fff; }

.card-title {
  text-align: justify;
  color: #fff;
  font-size: 5rem !important; }
