@font-face {
  font-family: 'SpaceShipz';
  src: url("../fonts/SpaceShipz.woff2") format("woff2"), url("../fonts/SpaceShipz.woff") format("woff"), url("../fonts/SpaceShipz.ttf") format("truetype"), url("../fonts/SpaceShipz.otf") format("opentype"); }

@font-face {
  font-family: 'Gamer';
  src: url("../fonts/gamer.woff2") format("woff2"), url("../fonts/gamer.woff") format("woff"), url("../fonts/gamer.ttf") format("truetype"), url("../fonts/gamer.otf") format("opentype"); }

@font-face {
  font-family: 'HeaderFont';
  src: url("../fonts/headerFont.woff2") format("woff2"), url("../fonts/headerFont.woff") format("woff"), url("../fonts/headerFont.ttf") format("truetype"), url("../fonts/headerFont.otf") format("opentype"); }

@font-face {
  font-family: 'OldeOak';
  src: url("../fonts/Ye-Olde-Oak.woff2") format("woff2"), url("../fonts/Ye-Olde-Oak.woff") format("woff"), url("../fonts/Ye-Olde-Oak.ttf") format("truetype"), url("../fonts/Ye-Olde-Oak.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OldeEnglish';
  src: url("../fonts/OldeEnglish.woff2") format("woff2"), url("../fonts/OldeEnglish.woff") format("woff"), url("../fonts/OldeEnglish.ttf") format("truetype"), url("../fonts/OldeEnglish.otf") format("opentype"); }

@font-face {
  font-family: 'Hero';
  src: url("../fonts/Hero.woff2") format("woff2"), url("../fonts/Hero.woff") format("woff"), url("../fonts/Hero.ttf") format("truetype"), url("../fonts/Hero.otf") format("opentype"); }
