@font-face {
  font-family: 'ArmyRust';
  src: url("../fonts/Army-Rust.woff2") format("woff2"), url("../fonts/Army-Rust.woff") format("woff"), url("../fonts/Army-Rust.ttf") format("truetype"), url("../fonts/Army-Rust.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SpaceShipz';
  src: url("../fonts/SpaceShipz.woff2") format("woff2"), url("../fonts/SpaceShipz.woff") format("woff"), url("../fonts/SpaceShipz.ttf") format("truetype"), url("../fonts/SpaceShipz.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OldeOak';
  src: url("../fonts/Ye-Olde-Oak.woff2") format("woff2"), url("../fonts/Ye-Olde-Oak.woff") format("woff"), url("../fonts/Ye-Olde-Oak.ttf") format("truetype"), url("../fonts/Ye-Olde-Oak.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OldeEnglish';
  src: url("../fonts/OldeEnglish.woff2") format("woff2"), url("../fonts/OldeEnglish.woff") format("woff"), url("../fonts/OldeEnglish.ttf") format("truetype"), url("../fonts/OldeEnglish.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Hero';
  src: url("../fonts/Hero.woff2") format("woff2"), url("../fonts/Hero.woff") format("woff"), url("../fonts/Hero.ttf") format("truetype"), url("../fonts/Hero.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'DC';
  src: url("../fonts/DC-Comics.woff2") format("woff2"), url("../fonts/DC-Comics.woff") format("woff"), url("../fonts/DC-Comics.ttf") format("truetype"), url("../fonts/DC-Comics.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }
