.custom-card-body-1 {
  padding: 1rem 1rem 1rem 0.5rem;
  color: blue;
  background: white;
  background: -moz-linear-gradient(112deg, white 0%, rgba(27, 181, 236, 0.895418) 69%);
  background: -webkit-linear-gradient(112deg, white 0%, rgba(27, 181, 236, 0.895418) 69%);
  background: linear-gradient(112deg, white 0%, rgba(27, 181, 236, 0.895418) 69%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#1bb5ec", GradientType=1); }

.custom-card-body-2 {
  background: #7a14d9;
  background: -moz-linear-gradient(112deg, #7a14d9 0%, rgba(222, 30, 221, 0.482252) 69%);
  background: -webkit-linear-gradient(112deg, #7a14d9 0%, rgba(222, 30, 221, 0.482252) 69%);
  background: linear-gradient(112deg, #7a14d9 0%, rgba(222, 30, 221, 0.482252) 69%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7a14d9", endColorstr="#de1edd", GradientType=1); }

.custom-card-body-3 {
  background: #382be2;
  background: -moz-linear-gradient(342deg, #382be2 0%, rgba(236, 119, 27, 0.895418) 69%);
  background: -webkit-linear-gradient(342deg, #382be2 0%, rgba(236, 119, 27, 0.895418) 69%);
  background: linear-gradient(342deg, #382be2 0%, rgba(236, 119, 27, 0.895418) 69%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#382be2", endColorstr="#ec771b", GradientType=1); }

.custom-card-body-4 {
  background: #382be2;
  background: -moz-radial-gradient(circle, #382be2 0%, rgba(147, 27, 236, 0.557696) 69%);
  background: -webkit-radial-gradient(circle, #382be2 0%, rgba(147, 27, 236, 0.557696) 69%);
  background: radial-gradient(circle, #382be2 0%, rgba(147, 27, 236, 0.557696) 69%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#382be2",endColorstr="#931bec",GradientType=1); }

.card-text {
  font-size: 2rem;
  font-weight: bold;
  color: #fff; }
