.navbar-outer-container {
  border-bottom: 1px solid #50518a; }

.logo {
  max-width: 50px;
  padding-right: 1rem; }

.navbar-title {
  font-family: "HeaderFont";
  line-height: 0;
  letter-spacing: 0.25rem;
  color: #50518a;
  text-align: left;
  white-space: nowrap;
  text-align: left; }

.nav-link {
  white-space: nowrap; }

.download-btn {
  align-items: center;
  white-space: nowrap; }

.navbar-collapse {
  justify-content: flex-start; }
