.brand {
  display: flex;
  align-items: center; }

.logo {
  max-height: 50px; }

.text {
  font-size: 1.2rem;
  margin-left: 10px; }

.nav-color {
  background: blueviolet;
  background: -moz-linear-gradient(342deg, blueviolet 0%, rgba(27, 181, 236, 0.895418) 69%);
  background: -webkit-linear-gradient(342deg, blueviolet 0%, rgba(27, 181, 236, 0.895418) 69%);
  background: linear-gradient(342deg, blueviolet 0%, rgba(27, 181, 236, 0.895418) 69%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8a2be2",endColorstr="#1bb5ec",GradientType=1); }
