.navbar-outer-container {
  border-bottom: 1px solid #50518a; }

.logo {
  max-width: 50px;
  padding-right: 1rem; }

.navbar-title {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  line-height: 1rem;
  color: #50518a;
  text-align: left;
  white-space: nowrap;
  text-align: left;
  margin: 0; }

.nav-link {
  white-space: nowrap; }

.download-btn {
  align-items: center;
  white-space: nowrap; }

.navbar-collapse {
  justify-content: flex-start; }
