.custom-border-blueviolet {
  border: 4px solid #3974cc !important; }

.h-inline {
  color: #fff;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 500; }

.herocard-custom-styles {
  background-color: #fff;
  text-align: left;
  background-color: blueviolet;
  color: #fff; }
  .herocard-custom-styles h1 {
    font-size: 3rem;
    font-family: "Hero";
    letter-spacing: .5rem;
    padding: 1rem 0 0 0; }
