.band-info-container {
  background-image: url("../images/wireBG.jpg");
  background-size: cover;
  color: #fff;
  font-family: monospace;
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem auto;
  box-shadow: rgba(0, 0, 0, 0.75) 3px 10px 10px 0px, black 0px 0px 0px 1px; }
  .band-info-container .band-img {
    padding-bottom: 1rem; }
  .band-info-container h2 {
    font-family: 'DeathRock';
    font-size: 4rem; }
  .band-info-container p {
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 0; }
  .band-info-container ul {
    padding-left: 0; }
