:root {
  --numRowsCols: 10;
  --cube-size: 80px;
  --grid-gap: 0px; }

.container {
  align-items: center;
  background: #0f2027;
  background: linear-gradient(80deg, #2c5364, #3da6c9, #0f2027);
  display: flex;
  font-size: 10px;
  height: 100%;
  justify-content: center;
  margin: auto;
  perspective: 700px;
  visibility: hidden;
  position: absolute;
  width: 100%;
  /*  ==========================================================
		Collection
		========================================================== */ }
  .container .grid {
    display: grid;
    width: calc(var(--numRowsCols) * var(--cube-size));
    height: calc(var(--numRowsCols) * var(--cube-size));
    transform-style: preserve-3d;
    transform: rotateX(45deg) rotateZ(0deg) translateX(calc(-1*var(--cube-size)/2));
    grid-template-columns: repeat(var(--numRowsCols), 1fr);
    grid-template-row: repeat(var(--numRowsCols), 1fr);
    grid-gap: var(--grid-gap);
    box-shadow: 180px 100px 100px rgba(0, 0, 0, 0.32); }
  .container .cube {
    position: relative;
    width: var(--cube-size);
    height: var(--cube-size);
    transform-style: preserve-3d; }
  .container .face {
    position: absolute;
    left: 0;
    top: -100px;
    width: 100%;
    height: 100%; }
  .container .face--front {
    background: #60bde5;
    transform: translateZ(calc(var(--cube-size)/2)); }
  .container .face--back {
    background: #c13414;
    transform: translateZ(calc((var(--cube-size)*-1)/2)) rotateY(180deg); }
  .container .face--left {
    background: #183a35;
    transform: translateX(calc((var(--cube-size)*-1)/2)) rotateY(-90deg);
    background-image: url("https://th.bing.com/th/id/OIP._7xqNG-GJgMRUt-o8CCjLgHaIL?pid=ImgDet&rs=1");
    background-size: cover;
    background-attachment: fixed; }
  .container .face--right {
    background: #0F2027;
    transform: translateX(calc(var(--cube-size)/2)) rotateY(90deg); }
  .container .face--top {
    background: #0F2027;
    transform: translateY(calc((var(--cube-size)*-1)/2)) rotateX(90deg); }
  .container .face--bottom {
    background: #642c5c;
    transform: translateY(calc(var(--cube-size)/2)) rotateX(-90deg); }
  .container .collection {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column; }
  .container .collection__link {
    position: relative;
    margin-bottom: 16px;
    color: white;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    font-size: 16px; }
    .container .collection__link span {
      display: block;
      position: absolute;
      bottom: -3px;
      left: 0;
      height: 1px;
      width: 10%;
      background-color: white;
      content: "";
      transition: width 0.3s; }
    .container .collection__link:hover span {
      width: 100%; }
