.footer {
  position: relative;
  background-color: #fff;
  z-index: 20000; }
  .footer .content-container {
    display: flex;
    align-items: center;
    justify-content: center; }
  .footer a {
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }
  .footer p {
    margin: 0; }
  .footer .copy {
    font-size: 0.75rem; }
  .footer img {
    margin-left: 1rem; }
  .footer .colContainer {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .footer .title {
    text-align: left;
    font-size: 0.75rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }
  .footer ul {
    padding-bottom: 0;
    margin-bottom: 0; }
  .footer .list li {
    list-style: none;
    text-align: left;
    font-size: 0.75rem; }

.footer-color {
  background: blueviolet;
  background: -moz-linear-gradient(342deg, #39b2de 0%, rgba(27, 181, 236, 0.895) 100%);
  background: -webkit-linear-gradient(342deg, #39b2de 0%, rgba(27, 181, 236, 0.895418) 100%);
  background: linear-gradient(342deg, #39b2de 0%, rgba(27, 181, 236, 0.895418) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8a2be2", endColorstr="#1bb5ec", GradientType=1); }
