.search-btn {
  font-family: "DC"; }

.herocard {
  margin-top: 1rem;
  box-shadow: rgba(0, 2, 0, 0.5) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background: #d4d4dd;
  background: -moz-linear-gradient(0deg, #d4d4dd 0%, #1bb5ec 100%);
  background: -webkit-linear-gradient(0deg, #d4d4dd 0%, #1bb5ec 100%);
  background: linear-gradient(0deg, #d4d4dd 0%, #1bb5ec 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d4d4dd", endColorstr="#1bb5ec", GradientType=1); }
  .herocard .spanh1 {
    font-family: "Hero";
    letter-spacing: 0.5rem;
    margin-top: 1rem;
    display: block; }
  .herocard h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif; }
  .herocard .hero-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000; }
  .herocard .sidekick-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif; }

.hero-facts p {
  padding-left: 1rem; }
