.banner {

    position: relative;

    .text {
        color: #fff;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1.5rem;
        white-space: nowrap;
        position: relative;
        z-index: 2;
        font-weight: bold;
    }

    .btn-pin-right {
        height: 100%;
        position: relative;
        display: flex;
        justify-content: right;
        align-items: center;
        z-index: 3;
        position: absolute;
        right: 2px;
        padding: 1rem;

        button {
            background-color: #243e68 !important;
            padding: .5rem;
            color: #fff;
            border-radius: 1rem;
        }
    }

    &.gradient1 {
        background: rgb(31, 208, 226);
        background: -moz-linear-gradient(90deg, rgba(31, 208, 226, 1) 0%, rgba(0, 124, 188, 1) 100%);
        background: -webkit-linear-gradient(90deg, rgba(31, 208, 226, 1) 0%, rgba(0, 124, 188, 1) 100%);
        background: linear-gradient(90deg, rgba(31, 208, 226, 1) 0%, rgba(0, 124, 188, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1fd0e2", endColorstr="#007cbc", GradientType=1);
    }

    &.gradient2 {
        background: rgb(131, 212, 236);
        background: -moz-linear-gradient(90deg, rgba(131, 212, 236, 0.5363636363636364) 0%, rgba(112, 17, 223, 1) 91%);
        background: -webkit-linear-gradient(90deg, rgba(131, 212, 236, 0.5363636363636364) 0%, rgba(112, 17, 223, 1) 91%);
        background: linear-gradient(90deg, rgba(131, 212, 236, 0.5363636363636364) 0%, rgba(112, 17, 223, 1) 91%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#83d4ec", endColorstr="#7011df", GradientType=1);
    }

    &.gradient3 {
        background: rgb(230, 167, 145);
        background: -moz-linear-gradient(90deg, rgba(230, 167, 145, 1) 0%, rgba(78, 36, 128, 1) 100%);
        background: -webkit-linear-gradient(90deg, rgba(230, 167, 145, 1) 0%, rgba(78, 36, 128, 1) 100%);
        background: linear-gradient(90deg, rgba(230, 167, 145, 1) 0%, rgba(78, 36, 128, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e6a791", endColorstr="#4e2480", GradientType=1);
    }

    &.topRadius728 {
        width: 728px;
        height: 90px;
        // background-color: #007CBC;
        color: #fff;
        display: flex;
        justify-content: left;
        align-items: center;
        border: 1px solid black;
        margin: 1rem auto;
        border-radius: 1rem 1rem 0 0;
        box-shadow: 0 4px 2px -2px gray;
        overflow: hidden;
        position: relative;

        .animated-panel {
            background-color: transparent;
            color: #fff;
            font-family:'Times New Roman', Times, serif;
            font-weight: bolder;
            position: absolute;
            right: 0;
            background-image: url('https://images.theconversation.com/files/379516/original/file-20210119-15-tmyvf4.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=900.0&fit=crop');
            background-size: cover;
            padding: 10.2rem;
            z-index: 1;
        }

        .parallelogram {
            width: 200px;
            height: 100%;
            transform: skew(30deg);
            background: #243e68;
            position: absolute;
            left: 45%;
            z-index: 1;
            position: relative;
            display: none;
        }

        .final-text {
            width: 100%;
            position: absolute;
            color: rgb(91, 215, 188);
            display: flex;
            justify-content: left;
            align-items: center;
            z-index: 1000;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 1.5rem;
        }

        .text {
            position: relative;
            z-index: 1;
        }
    }

    &.noRadius728 {
        width: 728px;
        height: 90px;
        background-color: #007CBC;
        color: #fff;
        display: flex;
        justify-content: left;
        align-items: center;
        border: 1px solid black;
        border-radius: 0;
        margin: 1rem auto;
        box-shadow: 0 4px 2px -2px gray;
        overflow: hidden;

        .animated-panel {
            background-color: #fff;
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
            color: #fff;
            font-family:'Times New Roman', Times, serif;
            font-weight: bolder;
            position: absolute;
            width: 40%;
            height: 100%;
            left: 48%;
            top: 0;
            background-image: url('https://images.theconversation.com/files/379516/original/file-20210119-15-tmyvf4.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=900.0&fit=crop');
            background-size: cover;
            padding: .5rem;
            z-index: 1;
        }

        .parallelogram {
            width: 200px;
            height: 100%;
            transform: skew(30deg);
            background: #243e68;
            position: absolute;
            left: 75%;
            z-index: 1;
        }

        .text {
            position: relative;
            z-index: 1;
        }
    }

    &.bottomRadius728 {
        width: 728px;
        height: 90px;
        color: #fff;
        display: flex;
        justify-content: left;
        align-items: center;
        border: 1px solid black;
        border-radius: 0 0 1rem 1rem;
        margin: 1rem auto;
        box-shadow: 0 4px 2px -2px gray;
        overflow: hidden;

        .animated-panel {
            background-color: #fff;
            border-top-left-radius: 0;
            color: #fff;
            font-family:'Times New Roman', Times, serif;
            font-weight: bolder;
            position: absolute;
            width: 40%;
            top: 0;
            right: 0;
            bottom: 0;
            background-image: url('https://images.theconversation.com/files/379516/original/file-20210119-15-tmyvf4.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=900.0&fit=crop');
            background-size: cover;
            padding: 1rem;
            z-index: 1;
        }

        .parallelogram {
            width: 200px;
            height: 100%;
            transform: skew(30deg);
            background: #243e68;
            position: absolute;
            left: 45%;
            z-index: 2;
        };

        button {
            z-index: 4;
        }

        .text {
            z-index: 3;
        }

        .text2 {
            position: relative;
            z-index:4;
        }

        .text-small {
            font-size: 1rem;
        }
    }

    &.bannerWidth300 {
        width: 300px;
        height: 250px;
        color: #fff;
        border: 1px solid #000;
        margin: 1rem auto;
        box-shadow: 0 4px 2px -2px gray;
        position: relative;
        background-image: url('https://images.theconversation.com/files/379516/original/file-20210119-15-tmyvf4.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=900.0&fit=crop');
        background-size: auto;
        background-position: bottom;
        background-blend-mode: normal;
        background-repeat: round;
        overflow: hidden;

        .animated-text {
            padding: 0.5rem;
            border-top: 1px solid #000;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 10vh;
            background: #bc64cd;
            position: absolute;
            bottom: 0;

            button {
                white-space: nowrap;
                color: #3156a1;
                margin: 0.5rem;
                font-family:Verdana, Geneva, Tahoma, sans-serif;
                font-weight: bold;
            }
          }

        .text {
            display: flex;
            justify-content: left;
            align-items: center;
        }

        .bodyTxt {
            font-size: 1.5rem;
            color: #fff;
            line-height: 1.25rem;
            padding: .5rem;
            p {
                font-size: 1rem;
                padding-left: 0;
            }
        }

        .top-bg {
            background-color: plum;
            overflow: hidden;
        }
    }

    &.bannerWidth160 {
        width: 160px;
        height: 600px;
        background-color: #007CBC;
        color: #fff;
        border: 2px solid #000;
        box-shadow: 0 4px 2px -2px gray;
        margin: auto;
        position: relative;
        overflow: hidden;

        h1 {
            font-family: 'Courier New', Courier, monospace;
            font-size: 4rem;
            font-weight: bold;
            color: rgb(81, 131, 142);
            padding-left: .5rem;
        }

        h2 {
            font-size: 1rem;
        }

        ul {
            padding-left: 1rem;
        }

        .animated-panel {
            background-color: #fff;
            color: #000;
            width: 100%;
            height: 280px;
            padding: .5rem;
            border-top: 1px solid #000;
            position: absolute;
            bottom: 0;
            overflow: hidden;
            background: rgb(34,193,195);
            background: -moz-linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,177,253,1) 100%);
            background: -webkit-linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,177,253,1) 100%);
            background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,177,253,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22c1c3",endColorstr="#2db1fd",GradientType=1);
        }
    }
}