
.border {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.border-strong {
    
    border: 1px solid red;
}

.custom-card-body-1 {
    color: rgb(22, 22, 157);
    background: rgb(62, 154, 194);
    background: -moz-linear-gradient(112deg, rgba(255, 255, 255, 1) 0%, rgba(27, 181, 236, 0.8954175420168067) 69%);
    background: -webkit-linear-gradient(112deg, rgba(255, 255, 255, 1) 0%, rgba(27, 181, 236, 0.8954175420168067) 69%);
    background: linear-gradient(112deg, rgba(255, 255, 255, 1) 0%, rgba(27, 181, 236, 0.8954175420168067) 69%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#1bb5ec", GradientType=1);
}

.custom-card-body-2 {
    background: #7a14d9;
    background: -moz-linear-gradient(112deg, rgba(122, 20, 217, 1) 0%, rgba(222, 30, 221, 0.4822522759103641) 69%);
    background: -webkit-linear-gradient(112deg, rgba(122, 20, 217, 1) 0%, rgba(222, 30, 221, 0.4822522759103641) 69%);
    background: linear-gradient(112deg, rgba(122, 20, 217, 1) 0%, rgba(222, 30, 221, 0.4822522759103641) 69%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7a14d9", endColorstr="#de1edd", GradientType=1);
}

.custom-card-body-3 {
        background: rgb(62, 154, 194);
        background: -moz-linear-gradient(342deg, rgba(56, 43, 226, 1) 0%, rgba(236, 119, 27, 0.8954175420168067) 69%);
        background: -webkit-linear-gradient(342deg, rgba(56, 43, 226, 1) 0%, rgba(236, 119, 27, 0.8954175420168067) 69%);
        background: linear-gradient(342deg, rgba(56, 43, 226, 1) 0%, #ec771be4 69%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#382be2", endColorstr="#ec771b", GradientType=1);
    }

.custom-card-body-4 {
    background: rgb(62, 154, 194);
    background: -moz-radial-gradient(circle, rgba(56, 43, 226, 1) 0%, rgba(147, 27, 236, 0.5576961974110033) 69%);
    background: -webkit-radial-gradient(circle, rgba(56, 43, 226, 1) 0%, rgba(147, 27, 236, 0.5576961974110033) 69%);
    background: radial-gradient(circle, rgba(56, 43, 226, 1) 0%, rgba(147, 27, 236, 0.5576961974110033) 69%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#382be2", endColorstr="#931bec", GradientType=1);
}

p h1 {
    font-size: 1rem;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding-bottom: 1rem;
}

img {
    max-width: 100%;
}

.card-text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    background: #7a14d9;
    background: -moz-linear-gradient(112deg, rgb(165, 154, 175) 0%, rgba(30, 52, 189, 0.482) 69%);
    background: -webkit-linear-gradient(112deg, rgb(157, 152, 161) 0%, rgba(88, 33, 88, 0.482) 69%);
    background: linear-gradient(112deg, rgb(145, 138, 152) 0%, rgba(79, 8, 79, 0.482) 69%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7a14d9", endColorstr="#de1edd", GradientType=1);
}

.card-footer {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
}