:root {
	--numRowsCols: 10;
	--cube-size: 80px;
	--grid-gap: 0px;
}

// html {
// 	box-sizing: border-box;
// }
// *,
// *:before,
// *:after {
// 	box-sizing: inherit;
// }

// body {
	// background: #0F2027;
	// background: linear-gradient(80deg, #2C5364, #203A43, #0F2027); 
	// overflow: hidden;
	// font-size: 10px;
// }

// body,
// html {
// 	height: 100%;
// 	width: 100%;
// 	margin: 0;
// 	padding: 0;
// }

.container {
    align-items: center;
    background: #0f2027;
    background: linear-gradient(80deg, #2c5364, #3da6c9, #0f2027);
    display: flex;
    font-size: 10px;
    height: 100%;
    justify-content: center;
    margin: auto;
    perspective: 700px;
    visibility: hidden;
    position: absolute;
    width: 100%;

	.grid {
		display: grid;
		width: calc(var(--numRowsCols) * var(--cube-size));
		height: calc(var(--numRowsCols) * var(--cube-size));
		transform-style: preserve-3d;
		transform: rotateX(45deg) rotateZ(0deg) translateX(calc(-1*var(--cube-size)/2));
		grid-template-columns: repeat(var(--numRowsCols), 1fr);
		grid-template-row: repeat(var(--numRowsCols), 1fr);
		grid-gap: var(--grid-gap);
		box-shadow: 180px 100px 100px rgba(black, 0.32);
	}
	
	.cube {
		position: relative;
		width: var(--cube-size);
		height: var(--cube-size);
		transform-style: preserve-3d;
	}
	
	.face {
		position: absolute;
		left: 0;
		top: -100px;
		width: 100%;
		height: 100%;
		// opacity: 0.8;

	}
	
	.face--front {
		background: #60bde5;
		transform: translateZ(calc(var(--cube-size)/2));
		
	}
	
	.face--back {
		background: #c13414;
		transform: translateZ(calc((var(--cube-size)*-1)/2)) rotateY(180deg);
	}
	
	.face--left {
		background: #183a35;
		transform: translateX(calc((var(--cube-size)*-1)/2)) rotateY(-90deg);
		// background-image: url('https://th.bing.com/th/id/R.910615646d63ccac7b0a50bcc9ff271b?rik=jTFZUj29MPAgFA&pid=ImgRaw&r=0');
		background-image: url('https://th.bing.com/th/id/OIP._7xqNG-GJgMRUt-o8CCjLgHaIL?pid=ImgDet&rs=1');
		background-size: cover;
		background-attachment: fixed;
	}
	
	.face--right {
		background: #0F2027;
		transform: translateX(calc(var(--cube-size)/2)) rotateY(90deg);
	}
	
	.face--top {
		background: #0F2027;
		transform: translateY(calc((var(--cube-size)*-1)/2)) rotateX(90deg);
	}
	
	.face--bottom {
		background: #642c5c;
		transform: translateY(calc(var(--cube-size)/2)) rotateX(-90deg);
	}
	
	/*  ==========================================================
		Collection
		========================================================== */
	
	.collection {
		position: fixed;
		z-index: 1000;
		top: 0;
		right: 0;
		display: flex;
		flex-direction: column;
	}
	
	.collection__link {
		position: relative;
		margin-bottom: 16px;
		color: white;
		font-family: Helvetica, sans-serif;
		text-decoration: none;
		font-size: 16px;
	
	
		span {
			display: block;
			position: absolute;
			bottom: -3px;
			left: 0;
			height: 1px;
			width: 10%;
			background-color: white;
			content: "";
			transition: width 0.3s;
		}
	
		&:hover span{
			width: 100%;
		}
	}
}

