.footer {
  position: relative;
  background-color: #fff;
  z-index: 20000;

  .content-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }


  a {
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  p {
    margin: 0;
  }

  .copy {
    font-size: 0.75rem;
  }

  img {
    margin-left: 1rem;
  }

  .colContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .title {
    text-align: left;
    font-size: 0.75rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  ul {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .list li {
    list-style: none;
    text-align: left;
    font-size: 0.75rem;
  }
}

.footer-color {
  background: rgb(138, 43, 226);
  background: -moz-linear-gradient(
    342deg,
    rgb(57, 178, 222) 0%,
    rgba(27, 181, 236, 0.895) 100%
  );
  background: -webkit-linear-gradient(
    342deg,
    rgb(57, 178, 222) 0%,
    rgba(27, 181, 236, 0.8954175420168067) 100%
  );
  background: linear-gradient(
    342deg,
    rgb(57, 178, 222) 0%,
    rgba(27, 181, 236, 0.8954175420168067) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8a2be2", endColorstr="#1bb5ec", GradientType=1);
}
