.search-btn {
  font-family: "DC";
}

.herocard {
  margin-top: 1rem;
  box-shadow: rgba(0, 2px, 0, 0.5) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background: rgb(212, 212, 221);
  background: -moz-linear-gradient(
    0deg,
    rgba(212, 212, 221, 1) 0%,
    rgba(27, 181, 236, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(212, 212, 221, 1) 0%,
    rgba(27, 181, 236, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(212, 212, 221, 1) 0%,
    rgba(27, 181, 236, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d4d4dd", endColorstr="#1bb5ec", GradientType=1);
  .spanh1 {
    font-family: "Hero";
    letter-spacing: 0.5rem;
    margin-top: 1rem;
    display: block;
  }

  h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .hero-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000;
  }

  .sidekick-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

    // p {
    //   padding-left: 1rem;
    //   padding-right: 1rem;
    // }
}

.hero-facts p {
  padding-left: 1rem;
}
